In [68]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_recall_curve

In [2]:
data = pd.read_csv('classification.csv')

In [4]:
data

     true  pred
0       1     0
1       1     1
2       1     1
3       0     0
4       1     1
..    ...   ...
195     0     0
196     0     0
197     1     0
198     0     1
199     0     0

[200 rows x 2 columns]

In [39]:
true_positive = np.where((data['true'] == 1) & (data['pred'] == 1))
false_positive = np.where((data['true'] == 0) & (data['pred'] == 1))
false_negative = np.where((data['true'] == 1) & (data['pred'] == 0))
true_negative = np.where((data['true'] == 0) & (data['pred'] == 0))

In [42]:
tp = len(true_positive[0])
fp = len(false_positive[0])
fn = len(false_negative[0])
tn = len(true_negative[0])
print (tp, fp, fn, tn)

43 34 59 64

In [45]:
accuracy_score(data['true'], data['pred'])

0.535

In [49]:
precision_score(data['true'], data['pred'])

0.5584415584415584

In [52]:
recall_score(data['true'], data['pred'])

0.4215686274509804

In [54]:
f1_score(data['true'], data['pred'])

0.48044692737430167

In [55]:
scores = pd.read_csv('scores.csv')

In [56]:
scores

     true  score_logreg  score_svm  score_knn  score_tree
0       0      0.683832   0.145976   0.787063    0.500000
1       1      0.801966   0.239511   1.000000    0.833333
2       0      0.382315  -0.245701   0.000000    0.000000
3       1      0.506797  -0.137058   0.000000    0.105263
4       1      0.488781  -0.154148   0.000000    0.105263
..    ...           ...        ...        ...         ...
195     0      0.573801  -0.088203   0.284192    0.400000
196     0      0.624422  -0.012315   0.205437    0.400000
197     1      0.425538  -0.135673   0.382351    0.700000
198     0      0.905270   0.583806   1.000000    1.000000
199     0      0.275594  -0.422160   0.743567    0.642857

[200 rows x 5 columns]

In [57]:
from sklearn.metrics import roc_auc_score

In [75]:
round(roc_auc_score(scores['true'], scores['score_logreg']),2)

0.72

In [63]:
roc_auc_score(scores['true'], scores['score_svm'])

0.7086834733893557

In [64]:
roc_auc_score(scores['true'], scores['score_knn'])

0.6351540616246498

In [65]:
roc_auc_score(scores['true'], scores['score_tree'])

0.6919267707082833

In [71]:
precision_lr, recall_lr, t_lr = precision_recall_curve(scores['true'], scores['score_logreg'])
lr = pd.DataFrame({'precision': precision_lr, 'recall': recall_lr}, columns=['precision', 'recall'])
lr[lr['recall'] >= 0.7].max()['precision']

0.6302521008403361

In [72]:
precision_svm, recall_svm, t_svm = precision_recall_curve(scores['true'], scores['score_svm'])
svm = pd.DataFrame({'precision': precision_svm, 'recall': recall_svm}, columns=['precision', 'recall'])
svm[svm['recall'] >= 0.7].max()['precision']

0.6228070175438597

In [73]:
precision_knn, recall_knn, t_knn = precision_recall_curve(scores['true'], scores['score_knn'])
knn = pd.DataFrame({'precision': precision_knn, 'recall': recall_knn}, columns=['precision', 'recall'])
knn[knn['recall'] >= 0.7].max()['precision']

0.6065573770491803

In [74]:
precision_tree, recall_tree, t_tree = precision_recall_curve(scores['true'], scores['score_tree'])
tree = pd.DataFrame({'precision': precision_tree, 'recall': recall_tree}, columns=['precision', 'recall'])
tree[tree['recall'] >= 0.7].max()['precision']

0.6517857142857143