## Рекомендательная модель MovieLens

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
# создаем сессию spark
from pyspark.sql import SparkSession

spark = (
    SparkSession
    .builder
    # если вертуальной машине нельзя добавить памяти, можно использовать меньше
    .config('spark_driver.memory', '4g')
    # можно явно количество ядер, которые будет использовать Spark
    # либо поставить звездочку для всех доступных виртуальной машине
    .master('local[*]')
    .getOrCreate()
    )

In [3]:
# считываем данные из CSV
# и преобразуем время проставления оценки из целого числа в дату со временем
import os
import pyspark.sql.functions as sql_func

movies = (
    spark
    .read
    .csv(os.path.join('data/movies.csv'), header=True, inferSchema=True)
    .withColumn('genres_list', sql_func.split('genres', '\|'))
    .select('movieId', 'title', 'genres_list')
    .cache()
    )

In [4]:
# взглянем внешне на датафрейм
movies.limit(10).toPandas()

,movieId,title,genres_list
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),[Comedy]
5,6,Heat (1995),"[Action, Crime, Thriller]"
6,7,Sabrina (1995),"[Comedy, Romance]"
7,8,Tom and Huck (1995),"[Adventure, Children]"
8,9,Sudden Death (1995),[Action]
9,10,GoldenEye (1995),"[Action, Adventure, Thriller]"

In [5]:
movies.printSchema()

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres_list: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [6]:
# посмотрим на общее распределение тегов
# считываем csv никак не преобразую
raw_tags = (
    spark
    .read
    .csv(os.path.join('data/tags.csv'), header=True, inferSchema=True)
    .cache()
    )

In [62]:
# взглянем внешне на датафрейм
raw_tags.limit(10).toPandas()

   userId  movieId                tag   timestamp
0       2    60756              funny  1445714994
1       2    60756    Highly quotable  1445714996
2       2    60756       will ferrell  1445714992
3       2    89774       Boxing story  1445715207
4       2    89774                MMA  1445715200
5       2    89774          Tom Hardy  1445715205
6       2   106782              drugs  1445715054
7       2   106782  Leonardo DiCaprio  1445715051
8       2   106782    Martin Scorsese  1445715056
9       7    48516       way too long  1169687325

In [7]:
# протегированно чуть больше половина фильмов
movie_tag_count = raw_tags.count()
tag_count = raw_tags.select('tag').distinct().count()
movie_count = raw_tags.select('movieId').distinct().count()

print('ФИЛЬМОВ ВСЕГО:', movies.select('movieId').distinct().count())
print('ФИЛЬМОВ С ТЕГОМ:', movie_count)
print('РАЗЛИЧНЫХ ТЕГОВ', tag_count)
print('ВСЕГО СООТВЕТСТВИЯ ФИЛЬМ_ТЕГ:', movie_tag_count)
print('ДОЛЯ НЕНУЛЕВЫХ ЭЛЕМЕНТОВ В МАТРИЦЕ ФИЛЬМ_ТЕГ', 
     movie_tag_count / movie_count / tag_count)

ФИЛЬМОВ ВСЕГО: 9742
ФИЛЬМОВ С ТЕГОМ: 1572
РАЗЛИЧНЫХ ТЕГОВ 1589
ВСЕГО СООТВЕТСТВИЯ ФИЛЬМ_ТЕГ: 3683
ДОЛЯ НЕНУЛЕВЫХ ЭЛЕМЕНТОВ В МАТРИЦЕ ФИЛЬМ_ТЕГ 0.0014744338062090358

In [8]:
# некоторые теги различаются только регистром
print('РАЗЛИЧНЫХ ТЕГОВ БЕЗ УЧЕТА РЕГИСТРА:', 
     raw_tags.select(sql_func.upper(sql_func.col('tag'))).distinct().count())

РАЗЛИЧНЫХ ТЕГОВ БЕЗ УЧЕТА РЕГИСТРА: 1475

In [9]:
# не будем интересоваться, какой именно пользователь поставил тег и когда это произошло
tags = (
    raw_tags
    # теги могут различаться только регистром, поэтому привед их всех к верхниму
    .select(sql_func.col('movieId'),
    sql_func.upper(sql_func.col('tag')).alias('tag')
    )
    .groupBy('movieId')
    .agg(sql_func.collect_list('tag').alias('tags_list')) # собирает все теги в виде списка
    .join(movies, 'movieId', 'right')                     # right чтобы у всех фильмов были теги
    .cache()
)

In [10]:
tags.limit(10).toPandas()

,movieId,tags_list,title,genres_list
0,1,"[PIXAR, PIXAR, FUN]",Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,"[GAME, FANTASY, MAGIC BOARD GAME, ROBIN WILLIAMS]",Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,"[MOLDY, OLD]",Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,None,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,"[PREGNANCY, REMAKE]",Father of the Bride Part II (1995),[Comedy]
5,6,None,Heat (1995),"[Action, Crime, Thriller]"
6,7,[REMAKE],Sabrina (1995),"[Comedy, Romance]"
7,8,None,Tom and Huck (1995),"[Adventure, Children]"
8,9,None,Sudden Death (1995),[Action]
9,10,None,GoldenEye (1995),"[Action, Adventure, Thriller]"

In [11]:
# вариант написания кода в синтаксесе SQL
raw_tags.createOrReplaceTempView('raw_tags') # регистрация таблицы для доступа в SQL запросах

spark.sql('''
SELECT * FROM raw_tags
''').limit(10).toPandas()

   userId  movieId                tag   timestamp
0       2    60756              funny  1445714994
1       2    60756    Highly quotable  1445714996
2       2    60756       will ferrell  1445714992
3       2    89774       Boxing story  1445715207
4       2    89774                MMA  1445715200
5       2    89774          Tom Hardy  1445715205
6       2   106782              drugs  1445715054
7       2   106782  Leonardo DiCaprio  1445715051
8       2   106782    Martin Scorsese  1445715056
9       7    48516       way too long  1169687325

In [63]:
# еще вариант написания кода в синтаксесе SQL
spark.sql('''
SELECT 
COLLECT_LIST (tag),
movieId FROM raw_tags
GROUP BY movieId
''').limit(10).toPandas()

         collect_list(tag)  movieId
0              [hula hoop]      471
1           [dance, music]     1088
2                 [aliens]     1580
3                [lawyers]     1645
4       [adultery, Africa]     1959
5           [Stephen King]     2122
6                  [spoof]     3175
7       [In Netflix queue]     6466
8                 [cancer]     6620
9  [Nick and Nora Charles]     7833

In [12]:
# объединим теги и жанры в единое пространство
from pyspark.sql.types import ArrayType, StringType

# B Spark нет некотрых полезных функций, но можно создать свои
#  в частности, мы хотим привести все жанры также в верхниму регистру
list_concat = sql_func.udf(
    lambda one_list, another_list:
        [str.upper(elem) for elem in one_list] + (another_list if another_list else []), # первый список - это список жанров
    returnType=ArrayType(StringType()) # возврат строк (тип указан явно)
)

In [13]:
# объединение жанров и тегов в один столбец (полный мешок слов)
content_features = (
    tags
    .select('movieId', 'title', 
           list_concat('genres_list', 'tags_list').alias('content_features'))
    .cache()
)

In [14]:
content_features.limit(10).toPandas()

,movieId,title,content_features
0,1,Toy Story (1995),"[ADVENTURE, ANIMATION, CHILDREN, COMEDY, FANTA..."
1,2,Jumanji (1995),"[ADVENTURE, CHILDREN, FANTASY, GAME, FANTASY, ..."
2,3,Grumpier Old Men (1995),"[COMEDY, ROMANCE, MOLDY, OLD]"
3,4,Waiting to Exhale (1995),"[COMEDY, DRAMA, ROMANCE]"
4,5,Father of the Bride Part II (1995),"[COMEDY, PREGNANCY, REMAKE]"
5,6,Heat (1995),"[ACTION, CRIME, THRILLER]"
6,7,Sabrina (1995),"[COMEDY, ROMANCE, REMAKE]"
7,8,Tom and Huck (1995),"[ADVENTURE, CHILDREN]"
8,9,Sudden Death (1995),[ACTION]
9,10,GoldenEye (1995),"[ACTION, ADVENTURE, THRILLER]"

In [15]:
# например Гарри Поттер и философский камень
content_features.where('movieId==4896').toPandas()

,movieId,title,content_features
0,4896,Harry Potter and the Sorcerer's Stone (a.k.a. ...,"[ADVENTURE, CHILDREN, FANTASY, MAGIC, WIZARDS,..."

In [16]:
# мешок слов (bag-of-words)
from pyspark.sql.functions import explode, count, desc

(
content_features
    .where('movieId==4896')
    .select(explode('content_features').alias('words'))
    .groupBy('words')
    .agg(count('words').alias('freq'))
    .orderBy(desc('freq'))
    .toPandas()
)

                         words  freq
0                        MAGIC     2
1                    ADVENTURE     1
2                     CHILDREN     1
3                      WIZARDS     1
4                 HARRY POTTER     1
5                      FANTASY     1
6  EVERYTHING YOU WANT IS HERE     1
7                     HUMOROUS     1
8                 ALAN RICKMAN     1

In [17]:
# теперь фичи есть для всех фильмов
content_features.count()

9742

In [18]:
# посчитаем частоты встречаемости для тегов для всех фильмов
from pyspark.ml.feature import HashingTF

term_frequencies = HashingTF(
    # от каждого тега будет вычислен хэш
    # и по факту мы будем считать частоты бакетов хэшей, а не самих тегов
    numFeatures=512, inputCol='content_features', 
    outputCol='term_frequencies').transform(content_features).cache()

In [19]:
# пример частот встречаемости бакетов (хранится в виде разряженного вектора)
term_frequencies.where('movieId==4896').first().term_frequencies

SparseVector(512, {108: 1.0, 113: 1.0, 156: 1.0, 170: 1.0, 173: 2.0, 309: 1.0, 402: 1.0, 404: 1.0, 428: 1.0})

In [20]:
# теперь сделаем поправку на частоту тегов в целом, чтобы убрать неиформативные теги 
# это второй шаг TF-IDF (term frequency, inverted document frequency)
from pyspark.ml.feature import IDF # IDF = ln(N+1 / n+1) N - общее кол-во фильмов, n - кол-во фильмов где есть этот тег

idf_model = IDF(inputCol='term_frequencies', outputCol='tf_idf',
                minDocFreq=2).fit(term_frequencies) # частота 2, чтобы выыкинуть теги которые есть только у одного фильма

tf_idf = (idf_model.transform(term_frequencies)
         .select('movieId', 'title', 'tf_idf')
         .cache()
         )

In [21]:
# сами инвертированные частоты термов
idf_model.idf[:20]

array([8.08569207, 7.79801   , 8.08569207, 5.78310698, 7.57486644,
       7.79801   , 6.619355  , 7.10486282, 7.79801   , 7.23839421,
       7.57486644, 6.54524703, 8.08569207, 7.79801   , 0.        ,
       7.57486644, 7.39254489, 7.23839421, 0.        , 0.        ])

In [22]:
# результат TF-IDF преобразования для выбранного фильма
tf_idf.where('movieId==4896').first().tf_idf

SparseVector(512, {108: 6.0933, 113: 6.8817, 156: 2.0383, 170: 7.3925, 173: 13.5728, 309: 6.6994, 402: 2.68, 404: 6.1398, 428: 2.525})

In [23]:
# сохранение json файла
#tf_idf.coalesce(1).write.mode('Overwrite').json(os.path.join('data/tf_idf.json'))

### Самостоятельная работа
1. Получить гистограмму количества тегов у фильма
2. Получить гистограмму количества тегов у пользователя
3. Получить количества тегов по месяцам

## 2. Построим профиль пользователя по истории действий пользователя

In [32]:
ratings = (
    spark
    .read
    .csv(os.path.join('data/ratings.csv'), header=True, inferSchema=True)
    # если используется меньше памяти, то здесь можно взять не все данные, а небольшую выборку
    # даже при fraction=0.01  качественная картина не меняется
    .sample(withReplacement=False, fraction=1.0, seed=0)
    .withColumn('rating_datatime', sql_func.from_unixtime('timestamp'))
    .drop('timestamp')
    .cache()
    )

In [33]:
# файл с фильмами небольшой, так что его можно читать полностью
# даже если памяти доступно немного
movies_genres = (
    spark
    .read
    .csv(os.path.join('data/movies.csv'), header=True, inferSchema=True)
    # парсим информацию о жанрах
    .withColumn('genres_array', sql_func.split('genres', '\|'))
    .select('movieId', sql_func.explode('genres_array').alias('genre')) # explode превращает строку с одинм списком 
    .cache()                                                            # во мнжество строк
    )

In [34]:
# получим соответствие жанров фильмам: много жанров - один фильм
movies_genres.toPandas()

       movieId      genre
0            1  Adventure
1            1  Animation
2            1   Children
3            1     Comedy
4            1    Fantasy
...        ...        ...
22079   193583    Fantasy
22080   193585      Drama
22081   193587     Action
22082   193587  Animation
22083   193609     Comedy

[22084 rows x 2 columns]

In [35]:
# у нас есть фильмы без оценок
print("ФИЛЬМОВ С ЖАНРАМИ: ", movies_genres.select ('movieID').distinct().count())
print("ФИЛЬМОВ С ОЦЕНКАМИ: ", ratings.select ('movieID').distinct().count())

ФИЛЬМОВ С ЖАНРАМИ:  9742
ФИЛЬМОВ С ОЦЕНКАМИ:  9724

In [36]:
#  создаем профиль пользователя (жанровые предпочтения):
# набор средних оценок фильмов одного жанра
user_profiles = (
    ratings
    .join(movies_genres, 'movieId')
    .groupBy('userId', 'genre')
    .agg(sql_func.avg('rating').alias('genry_rating')) # средняя оценка фильмов в жанрах, которые предпочитает пользователь
    .cache()
)

In [37]:
# посмотрим как выглядит профиль одного из пользователей
(
    user_profiles
    .where('userId==15')
    .orderBy(sql_func.desc('genry_rating'))
    .show()
)

+------+---------+------------------+
|userId|    genre|      genry_rating|
+------+---------+------------------+
|    15|      War|               4.1|
|    15|  Romance|3.8846153846153846|
|    15|   Horror|3.8181818181818183|
|    15|    Drama| 3.740740740740741|
|    15|   Sci-Fi|3.5847457627118646|
|    15|    Crime|3.5789473684210527|
|    15| Thriller|3.4318181818181817|
|    15|  Mystery|3.4166666666666665|
|    15|   Comedy| 3.357142857142857|
|    15|Adventure|3.3421052631578947|
|    15|     IMAX|3.3055555555555554|
|    15|   Action|3.2033898305084745|
|    15|Animation|2.9545454545454546|
|    15|  Fantasy|           2.90625|
|    15|  Musical|               2.7|
|    15| Children|2.6904761904761907|
|    15|  Western|               2.5|
+------+---------+------------------+

In [38]:
# предсказываем  оценку фильма как среднее по средним оценкам жанров данного пользователя
predictions = (
    ratings
    .join(movies_genres, 'movieId', 'left')
    .join(user_profiles, ['userId', 'genre'], 'left')
    .groupBy('userId', 'movieId', 'rating')
    .agg(sql_func.avg('genry_rating').alias('prediction'))
)

In [39]:
predictions.show()

+------+-------+------+------------------+
|userId|movieId|rating|        prediction|
+------+-------+------+------------------+
|     1|    441|   4.0|  4.27710843373494|
|     3|   2080|   0.5|             0.625|
|     4|    708|   4.0| 3.444462864721485|
|     4|   3489|   1.0|3.6163327749080927|
|     6|    248|   5.0|  3.37007874015748|
|    10|   2571|   0.5| 2.858974358974359|
|    10|   8961|   2.5| 3.564055493981995|
|    11|    529|   5.0| 4.166666666666667|
|    11|   1518|   4.0|3.5998641304347827|
|    11|   1784|   5.0| 3.938034188034188|
|    12|   1721|   5.0| 4.566964285714286|
|    16|    111|   4.5|  3.75742337164751|
|    18|    593|   4.5|3.6758940056598917|
|    18|   1206|   4.5| 3.815771630183201|
|    18|   7147|   4.5|3.7401814546309957|
|    18|  84392|   4.5|3.8740591432745712|
|    19|    745|   4.0|2.7579300238613964|
|    19|   1580|   2.0|2.6419778083295142|
|    19|   1689|   2.0|  2.69659581584869|
|    19|   2081|   4.0| 2.758146477406793|
+------+-------+------+------------------+
only showing top 20 rows

### Задание слушателям
Самостоятельно найти RMSE

## 3. CONTENT-BASED МОДЕЛЬ (слайды)

In [42]:
tf_idf.show()

+-------+--------------------+--------------------+
|movieId|               title|              tf_idf|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|(512,[156,273,284...|
|      2|      Jumanji (1995)|(512,[3,156,204,3...|
|      3|Grumpier Old Men ...|(512,[247,355,410...|
|      4|Waiting to Exhale...|(512,[219,247,355...|
|      5|Father of the Bri...|(512,[324,325,355...|
|      6|         Heat (1995)|(512,[75,263,287]...|
|      7|      Sabrina (1995)|(512,[247,324,355...|
|      8| Tom and Huck (1995)|(512,[156,402],[2...|
|      9| Sudden Death (1995)|(512,[287],[1.671...|
|     10|    GoldenEye (1995)|(512,[156,263,287...|
|     11|American Presiden...|(512,[202,219,247...|
|     12|Dracula: Dead and...|(512,[355,497],[0...|
|     13|        Balto (1995)|(512,[156,284,402...|
|     14|        Nixon (1995)|(512,[202,219,378...|
|     15|Cutthroat Island ...|(512,[156,247,287...|
|     16|       Casino (1995)|(512,[75,128,219]...|
|     17|Sense and Sensibi...|(512,[219,247,286...|
|     18|   Four Rooms (1995)|(512,[355],[0.950...|
|     19|Ace Ventura: When...|(512,[355],[0.950...|
|     20|  Money Train (1995)|(512,[75,219,263,...|
+-------+--------------------+--------------------+
only showing top 20 rows

In [43]:
# не будем использовать модели из SPark, а используем модели из Sklearn
# для распределения нагрузки под управлением spark создаем пользовательскую функцию

from sklearn.linear_model import ElasticNet        # линейная модель с регуляризацией
from pyspark.sql.types import FloatType, ArrayType

def sklearn_lr(spark_x: list, spark_y: list) -> list:
    '''
    spark_x: СПИСОК pyspark.ml.linalg.SparseVector - фичи для регрессии
    spark_y: СПИСОК ЗНАЧЕНИЙ ЦЕЛЕВОЙ ПЕРЕМЕННОЙ РЕГРЕССИИ
    return: СПИСОК КОЭФФИЦИЕНТОВ РЕГРЕСИИ
    '''
    # переводим данные из формата Spark в удобный для Sklearn
    X = np.array([vector.toArray() for vector in spark_x])
    y = np.array(spark_y).reshape(-1, 1)
    # применяем модель ElasticNet из Sklearn 
    lr = ElasticNet().fit(X, y)
    # возвращаем в ответе плотный вектор коэффициентов регрессии
    return [lr.sparse_coef_.todense().tolist()[0], lr.intercept_.tolist()]

# определяем Spark UDF, которая обучает регрессию на своих аргументах
reg_udf = sql_func.udf(sklearn_lr, returnType=ArrayType(ArrayType(FloatType())))

In [44]:
# разбиваем полученные данные на обучающую и тестовую выборки
X_train, X_test = ratings.join(tf_idf, 'movieId').randomSplit([0.8, 0.2], seed=42)
X_train.cache()
X_test.cache()


#строим для каждого пользователя свою модель регрессии
model_coef = (
    X_train
    .groupBy('userId')
    .agg(
        sql_func.collect_list('tf_idf').alias('X'),
        sql_func.collect_list('rating').alias('y')
    )
    .withColumn('model_coef', reg_udf('X', 'y')) # к каждой строчке применить функцию пользовательскую
    .cache()
)

In [45]:
# сохраняем полцученные коэффициенты регрессии на диск
# model_coef.write.mode('Overwrite').parquet(os.path.join('data/model_coef.parquet'))

In [46]:
%%time
model_coef.count()

Wall time: 1min 16s

610

In [47]:
# ввиду применение регуляризации, среди коэффициентов много нулей
model_coef.show()

+------+--------------------+--------------------+--------------------+
|userId|                   X|                   y|          model_coef|
+------+--------------------+--------------------+--------------------+
|   148|[(512,[11,88,113,...|[4.0, 4.0, 4.0, 3...|[[0.0, 0.0, 0.0, ...|
|   463|[(512,[89,143,148...|[4.5, 4.0, 4.0, 4...|[[0.0, 0.0, 0.0, ...|
|   471|[(512,[156,273,28...|[5.0, 3.0, 4.5, 5...|[[0.0, 0.0, 0.0, ...|
|   496|[(512,[156,284,35...|[1.0, 5.0, 5.0, 4...|[[0.0, 0.0, 0.0, ...|
|   243|[(512,[156,263,28...|[5.0, 5.0, 4.0, 5...|[[0.0, 0.0, 0.0, ...|
|   392|[(512,[45,219,247...|[3.0, 1.0, 2.0, 3...|[[0.0, 0.0, 0.0, ...|
|   540|[(512,[75,219,263...|[3.5, 5.0, 4.5, 3...|[[0.0, 0.0, 0.0, ...|
|    31|[(512,[324,325,35...|[3.0, 4.0, 4.0, 3...|[[0.0, 0.0, 0.0, ...|
|   516|[(512,[0,15,47,13...|[5.0, 4.0, 4.0, 3...|[[0.0, 0.0, 0.0, ...|
|    85|[(512,[156,219],[...|[5.0, 5.0, 5.0, 4...|[[0.0, 0.0, 0.0, ...|
|   137|[(512,[89,143,148...|[4.0, 5.0, 3.5, 4...|[[0.0, 0.0, 0.0, ...|
|   251|[(512,[51,263,307...|[5.0, 5.0, 5.0, 5...|[[0.0, 0.0, 0.0, ...|
|   451|[(512,[156,273,28...|[5.0, 3.0, 4.0, 3...|[[0.0, 0.0, 0.0, ...|
|   580|[(512,[156,273,28...|[3.0, 4.0, 3.5, 4...|[[0.0, 0.0, 0.0, ...|
|    65|[(512,[65,218,219...|[4.0, 4.0, 4.5, 4...|[[0.0, 0.0, 0.0, ...|
|   458|[(512,[3,156,204,...|[4.0, 3.0, 5.0, 5...|[[0.0, 0.0, 0.0, ...|
|    53|[(512,[355],[0.95...|[5.0, 5.0, 5.0, 5...|[[0.0, 0.0, 0.0, ...|
|   255|[(512,[93,219,282...|[1.0, 2.0, 5.0, 2...|[[0.0, 0.0, 0.0, ...|
|   481|[(512,[93,156,402...|[3.0, 4.0, 2.0, 2...|[[0.0, 0.0, 0.0, ...|
|   588|[(512,[247,355,41...|[3.0, 5.0, 3.0, 4...|[[0.0, 0.0, 0.0, ...|
+------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [48]:
# перемножение векторного представления фильма и векторного представления пользователя
from pyspark.ml.linalg import SparseVector

def lr_apply (x: SparseVector, lr_coef: list) -> float:
    '''
    param x ВЕКТОР ФИЧ ДЛЯ РЕГРЕССИИ
    param lr_coef
    return: ПРЕДСКАЗАННОЕ МОДЕЛЬЮ РЕГРЕССИИ ЗНАЧЕНИЕ
    '''
    return float(np.array(x).dot(np.array(lr_coef[0])) + lr_coef[1][0])

lr_apply_udf = sql_func.udf(lr_apply, returnType=FloatType())

In [49]:
# функция предсказание
from pyspark.sql import DataFrame

def get_prediction(data: DataFrame) ->DataFrame:
    return (
        data
        .join(model_coef, 'userId')
        .select('userId', 'rating', 'movieId', 'tf_idf', lr_apply_udf('tf_idf', 'model_coef').alias('prediction'))
        .cache()
    )

In [50]:
%%time
# предсказание на трэйне
train_prediction = get_prediction(X_train)

Wall time: 62.8 ms

In [51]:
# сохраняем предсказания на диск

# train_prediction.write.mode('Overwrite').parquet(os.path.join('data/train_prediction.parquet'))

In [52]:
train_prediction.show()

+------+------+-------+--------------------+----------+
|userId|rating|movieId|              tf_idf|prediction|
+------+------+-------+--------------------+----------+
|     1|   4.0|      1|(512,[156,273,284...| 4.3655915|
|     5|   4.0|      1|(512,[156,273,284...| 3.6657915|
|    15|   2.5|      1|(512,[156,273,284...| 3.4816513|
|    17|   4.5|      1|(512,[156,273,284...| 4.2134147|
|    18|   3.5|      1|(512,[156,273,284...| 3.7272727|
|    21|   3.5|      1|(512,[156,273,284...| 3.2604456|
|    31|   5.0|      1|(512,[156,273,284...|       3.9|
|    32|   3.0|      1|(512,[156,273,284...|  3.764706|
|    33|   3.0|      1|(512,[156,273,284...| 3.7380953|
|    40|   5.0|      1|(512,[156,273,284...| 3.7738094|
|    44|   3.0|      1|(512,[156,273,284...| 3.4317334|
|    45|   4.0|      1|(512,[156,273,284...| 3.8951368|
|    46|   5.0|      1|(512,[156,273,284...|       4.0|
|    50|   3.0|      1|(512,[156,273,284...|  2.799578|
|    54|   3.0|      1|(512,[156,273,284...|       3.0|
|    63|   5.0|      1|(512,[156,273,284...| 3.6540284|
|    64|   4.0|      1|(512,[156,273,284...| 3.7425373|
|    66|   4.0|      1|(512,[156,273,284...| 4.0254545|
|    71|   5.0|      1|(512,[156,273,284...| 3.8213396|
|    73|   4.5|      1|(512,[156,273,284...| 3.7617648|
+------+------+-------+--------------------+----------+
only showing top 20 rows

In [53]:
# оценка модели при помощи RMSE
def evaluate_prediction(prediction: DataFrame) -> float:
    return np.sqrt(
        prediction
        .selectExpr('''
            CASE
                WHEN prediction > 5 THEN 5
                WHEN prediction < 0.5 THEN 0.5
                ELSE prediction
            END AS prediction
        ''', 'rating')
        .select(
            sql_func.pow(sql_func.col('rating') - sql_func.col('prediction'), 2)
            .alias('squared_error')
        )
        .agg(sql_func.avg('squared_error'))
        .first()[0]
    )

In [54]:
# оценка на трейне
evaluate_prediction(train_prediction)

0.9253657451473057

In [55]:
%%time
# предсказание на тесте
test_prediction = get_prediction(X_test)

Wall time: 56 ms

In [56]:
# оценка на тесте
evaluate_prediction(test_prediction)

0.9406966389715138

## 4. Item-to-Item рекомендация (слайд)

In [57]:
from scipy.spatial.distance import euclidean

# определим функцию расстояния
distance = sql_func.udf(
    lambda x1, x2: euclidean(
        x1.toArray(),
        x2.toArray()
        ), # тут может потребоваться tolist() для некоторых расстояний
    returnType=FloatType()
)

In [58]:
# находим матрицу расстояний (ленивые вычисления, это только граф, т.к. помрет на большой матрице :)
distance_matrix = (
    tf_idf.alias('one')
    .crossJoin(tf_idf.alias('two'))
    .select(
        'one.movieId',
        'one.title',
        'two.movieId',
        'two.title',
        distance('one.tf_idf', 'two.tf_idf').alias('distance')
    )
)

In [59]:
# находим 10 ближайших соседей Гарри Потера
(
distance_matrix
    .where(sql_func.col('one.movieId')==4896)
    .orderBy('distance')
    .select('two.movieId', 'two.title', 'distance')
    .limit(10)
    .toPandas()
)

   movieId                                              title   distance
0     4896  Harry Potter and the Sorcerer's Stone (a.k.a. ...   0.000000
1     5816     Harry Potter and the Chamber of Secrets (2002)  15.421558
2     8368    Harry Potter and the Prisoner of Azkaban (2004)  15.961234
3    40815         Harry Potter and the Goblet of Fire (2005)  16.044832
4    25753                                       Greed (1924)  16.915237
5     6063                                         May (2002)  17.069359
6     4993  Lord of the Rings: The Fellowship of the Ring,...  18.150782
7    95558                 Beasts of the Southern Wild (2012)  18.981220
8     2694                                   Big Daddy (1999)  19.485146
9     3385                                  Volunteers (1985)  19.485146

#### САМОСТОЯТЕЛЬНАЯ РАБОТА (СЛАЙД)